.consultation {
    width: 100%;
    margin-top: 140px;
}
.consultation__container {
    padding: 0 35px;
    display: flex;
    align-items: center;
    gap: 40px;
    color: black;
    @media screen and (max-width: 992px) {
        flex-direction: column;
    }
}
.consultation__right {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.consultation__img img{
    width: 100%;
    border-radius: 10px;
    max-width: 900px;
}
.consultation__title h2{
    font-size: 46px;
    font-weight: 600;
    line-height: 59.8px;
    max-width: 600px;
    @media screen and (max-width: 574px) {
        font-size: 30px;
        line-height: 35px;
    }
}
.consultation__desc p{
    font-size: 16px;
    line-height: 22px;
    max-width: 600px;
}
.consultation__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}
.consultation__form-main {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction:column;
}
.checkbox-consultation a{
    color: black;
    font-weight: 600;
}
.consultation__form-main input {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: black;
    font-size: 15px;
    outline: none;
}
.consultation__form-main textarea {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: black;
    font-size: 15px;
    outline: none;
    resize: none;
}
.consultation__title {
    text-align: center;
}
.consultation__desc p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 600px;
}
.consultation__form-main button {
    padding: 20px 50px;
    border-radius: 10px;
    background-color: #172D13;
    border: 1px solid #172D13;
    text-align: center;
    color:white;
    font-size: 16px;
    line-height: 18.75px;
    transition: 0.5s;
    position: relative;
    top: 30px;
    cursor: pointer;
}
.consultation__form-main button:hover {
    color: black;
    background-color: white;
}